@model MusicForum.Models.Discussion

@{
    ViewData["Title"] = "Get Discussion";
}

<div class="get-center-container">
    <div class="get-discussion-post">
        <img src="@Url.Content("/photos/" + Model.ImageFilename)" alt="@Model.Title" class="thumbnail2" />
        <div class="get-discussion-content">
            <h3>@Model.Title</h3>
            <p>@Model.Content
                <span class="date">@Model.CreateDate.ToString("MMM dd, yyyy - h:mm tt")</span>
            </p>
        </div>
    </div>

    <div class="comments-section">

        @if (Model.Comments != null && Model.Comments.Any())
        {
            <ul class="comments-list">
                @foreach (var comment in Model.Comments.OrderByDescending(d => d.CreateDate))
                {
                    <li class="comment-item">
                        <p>@comment.Content</p>
                        <span class="comment-date">@comment.CreateDate.ToString("MMM dd, yyyy - h:mm tt")</span>
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="no-comments">No comments yet...</p>
        }

        <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="pe-2">New Comment</a>

    </div>

        
</div>
