@model MusicForum.Models.Discussion
@using Microsoft.AspNetCore.Identity
@using MusicForum.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Get Discussion";
}

<h1>THE DETAILS</h1>

<div class="get-center-container">
    <div class="get-discussion-post">
        <a class="get-username" href="@Url.Action("Profile", "User", new { username = Model.ApplicationUser?.Name })">
            <span style="color: #DDDDDD">@@@Model.ApplicationUser?.Name</span>
        </a>

        <!-- Content gets centered if no image is available -->
        <div class="get-discussion-content @(string.IsNullOrEmpty(Model.ImageFilename) ? "centered-content" : "")">
            <h3>@Model.Title</h3>
            <p class="news-article">
                @if (!string.IsNullOrEmpty(Model.ImageFilename))
                {
                    <img src="@Url.Content("/photos/" + Model.ImageFilename)"
                         alt="@Model.Title"
                         class="article-image" />
                }
                @if (!string.IsNullOrEmpty(Model.Content))
                {
                    <span class="drop-cap">@Model.Content.Substring(0, 1)</span>
                    <span class="content-text">@Model.Content.Substring(1)</span>

                    @Model.Content.Substring(1)
                }
                <span class="discussionDate">@Model.CreateDate.ToString("MMM dd, yyyy - h:mm tt")</span>
            </p>
        </div>
    </div>

    <div class="comments-section">
        <h3>Join the Conversation</h3>

        @if (Model.Comments != null && Model.Comments.Any())
        {
            <ul class="comments-list">
                @foreach (var comment in Model.Comments)
                {
                    <li class="comment-item">
                        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            @{
                                // Access the user associated with the comment directly
                                var commentUser = comment.ApplicationUser;
                            }
                            @if (commentUser != null)
                            {
                                <span class="comment-user"><span class="indicator">@@</span>@commentUser.Name</span>
                            }
                        </a>
                        <p>@comment.Content</p>
                        <span class="comment-date">@comment.CreateDate.ToString("MMM dd, yyyy - h:mm tt")</span>
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="no-comments">No comments yet...</p>
        }
        <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="pe-2">New Comment</a>
    </div>
</div>
