@model MusicForum.Models.Discussion

@{
	ViewData["Title"] = "Get Discussion";
}

<table>
	<tr>
		<td>
			@Html.DisplayNameFor(model => model.DiscussionId)
		</td>
		<td>
			@Html.DisplayFor(model => model.DiscussionId)
		</td>
	</tr>
	<tr>
		<td>
			@Html.DisplayNameFor(model => model.Title)
		</td>
		<td>
			@Html.DisplayFor(model => model.Title)
		</td>
	</tr>
	<tr>
		<td>
			@Html.DisplayNameFor(model => model.Content)
		</td>
		<td>
			@Html.DisplayFor(model => model.Content)
		</td>
	</tr>
	<tr>
		<td>
			@Html.DisplayNameFor(model => model.ImageFilename)
		</td>
		<td>
			@Html.DisplayFor(model => model.ImageFilename)
		</td>
	</tr>
	<tr>
		<td>
			@Html.DisplayNameFor(model => model.CreateDate)
		</td>
		<td>
			@Html.DisplayFor(model => model.CreateDate)
		</td>
	</tr>
</table>

@if (Model.Comments != null && Model.Comments.Any())
{
	<ul>
		@foreach (var comment in Model.Comments)
		{
			<li>@comment.Content (@comment.CreateDate.ToString("g"))</li>
		}
	</ul>
}
else
{
	<p>No comments yet.</p>
}