@{
    ViewData["Title"] = "Home Page";
}

@model List<MusicForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<h1>All Discussions</h1>

@foreach (var item in Model)
{
    <div>
        <h2>@item.Title</h2>
        <p>
            @item.DiscussionId<br />
            @item.Content<br />
            @item.ImageFilename<br />
            @item.CreateDate<br />
            <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@item.DiscussionId">View</a>
        </p>
    </div>
}
