@model MusicForum.Models.Discussion

@{
    ViewData["Title"] = "Delete";
}

<h1>ARE YOU SURE?</h1>

<table class="discussionTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>@Html.DisplayNameFor(model => model.ImageFilename)</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Title)</td>
            <td class="column-content">
                @(Model.Content.Length > 100 ? Model.Content.Substring(0, 100) + "..." : Model.Content)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.ImageFilename))
                {
                    <img class="indexImg" src="@Url.Content("~/photos/" + Model.ImageFilename)"
                         alt="Image Thumbnail"
                         style="object-fit: fill;">
                }
            </td>
            <td>@Model.CreateDate.ToString("MMM dd, yyyy @ h:mm tt")</td>
            <td>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DiscussionId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    </tbody>
</table>

<a class="pe-2" asp-action="Index">Back to List</a>
