@model MusicForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h1>DISCUSSION DETAILS</h1>

<div class="dl-container">
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>@Html.DisplayNameFor(model => model.Content)</dt>
        <dd>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.Content))</dd>

        <dt>@Html.DisplayNameFor(model => model.ImageFilename)</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageFilename))
            {
                <img src="@Url.Content("/photos/" + Model.ImageFilename)" alt="@Model.Title" class="thumbnail2" />
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.CreateDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>
    </dl>
</div>

<div>
    <a class="pe-2" asp-action="Index">Back to List</a>
</div>
