@model IEnumerable<MusicForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<h1>MY DISCUSSIONS</h1>
<p class="btn-container">
    <a asp-action="Create" class="pe-2">Create New</a>
</p>

<table class="discussionTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>@Html.DisplayNameFor(model => model.ImageFilename)</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td class="column-content">@Html.DisplayFor(modelItem => item.Content)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageFilename))
                    {
                        <img class="indexImg" src="@Url.Content("~/photos/" + item.ImageFilename)"
                             alt="Image Thumbnail" width="150" height="150"
                             style="object-fit: cover; border-radius: 5px;">
                    }
                    @* If no image exists, the <td> remains empty *@
                </td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DiscussionId" class="action-link edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.DiscussionId" class="action-link details">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.DiscussionId" class="action-link delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
